
body{
    font-family: 'Bai Jamjuree', sans-serif;
    
   
}
.container{
    width: 1440px;
    margin: auto;
    font-size: 18px;
}
.header{
    background-image: url(images/bg-header-desktop.png);
    height: 300px;
    text-align: center;
}
#logo{
    padding-top: 6rem;
}
h1,
h2,
h3,p {
    font-family: 'Bai Jamjuree', sans-serif;
    opacity: 0.6;
}

#block1{
    text-align: center;

}
#ios {
    margin-left: 12px;
    background-color: hsl(171, 66%, 44%);
    border-radius: 20px;
    padding: 10px;
    height: 3rem;
    width: 15rem;
    box-shadow: 1px 1px 10px hsl(171, 66%, 40%); 
}
#mac {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 12px;
    background-color: hsl(233, 100%, 69%);
    border-radius: 20px;
    padding: 10px;
    height: 3rem;
    width: 15rem;
    box-shadow: 1px 1px 10px  hsl(233, 100%, 69%);
    
}
button {
    color: white;
    border: none;
   
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.body {
    margin-top: 6rem;
    text-align: center;

}
#block3 {
    text-align:center;
    margin-top: 5rem;
    display: flex;
  }
  .computer{
    margin-left: 0;
  }
  .sous_block {
   text-align: justify;
   margin-left: 4rem;
   margin-top: 1.5rem;
   

}

#block4 {
    margin-top: 10rem;
    text-align: center;
}
#device {
    margin-top: 4rem;

}
#block5 {
    margin-top: 3rem;
    text-align: center;
}
#block6 {
    margin-top: 2rem;
 display: flex;
 text-align: center;
 justify-content: center;
 
}
.block5-1{
    margin: 2rem;
}
.block7{
    text-align: center;
}
.logo3{
    padding: 2rem;
   font-weight: 1rem;
}
.block8{
    text-align: center;
}
.block9{
padding: 2rem;
}
footer{
    background-color:hsl(210, 29%, 97%);
   display: flex;
   margin-top: 5rem;
   height: 115px;
   justify-content: center;
   text-align: center;
   
}
.haha{
    opacity: 1;
}
.icon_sociaux {
    margin-left: 15rem;

  padding: 3rem;
    display: flex;
   

}
.image_reseaux{
    padding: 1rem;
}

#logo2 {
    margin-top: 2rem;
    padding-right: 4rem;
    width: 50px;
    height: 50px;
   
}

.id {

    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding: 1rem;
}

.id:before {
    background-color: aqua;
}


.clic:hover {
    color: aqua;
    cursor: pointer;
}

a {
    color: rgba(63, 60, 60, 0.9);
    text-decoration: none;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
/*
@media screen and (min-width:1440px) {
    body{
        font-size: 1rem;
        background-color: blue;
    }
   footer{ height: 9rem;
   }
    
}*/
@media screen and (max-width:375px) {
    body{
      width: 375px;
      font-size: 20px;
    }
    .header{
     background-image: url(images/bg-header-mobile.png);
     background-size: cover;
     background-repeat: no-repeat;
     justify-content: center;
       
    }
  .computer, #device{
        width: 330px;
        height: 300px;
    }
    #block3 {
        text-align:center;
        margin-top: 5rem;
        display: block;
      }
}
