@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    text-align: center;
}

p {
    font-size: 1rem;
    opacity: 0.7;
    text-align: unset;
}

h1,
h2,
h3 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600px;
    opacity: 0.7;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

#logo {
    text-align: center;
}


.lien {
    color: hsl(228, 45%, 44%);
}

#block1 {
    text-align: center;
    margin-top: 4rem;
}



.header {
    padding-top: 60px;
    background-image: url('images/bg-header-desktop.png');
    background-size: contain;

    text-align: center;
}



button {
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}



#ios {
    margin-left: 12px;
    background-color: hsl(171, 66%, 44%);
    border-radius: 20px;
    padding: 10px;
    height: 3rem;
    width: 13rem;
}


#mac {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 12px;
    background-color: hsl(233, 100%, 69%);
    border-radius: 20px;
    padding: 10px;
    height: 3rem;
    width: 13rem;
}

.body {
    margin-top: 4rem;
    text-align: center;

}

#block3 {
    margin-top: 5rem;
    display: flex;

}

#sous_block {
    margin: 5rem;
    margin-left: 5rem;
    display: block;
    text-align: justify;

}


#block4 {
    margin-top: 9rem;
    text-align: center;
}

#device {
    margin-top: 4rem;

}

#block5 {
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;

}

.icon {

    width: 2rem;
}

.sous_block1 {

    padding-right: 7rem;
    padding-top: 3rem;
    display: flex;
}

.sous_block2 {
    padding: 5rem;
}

#block6 {
    margin-top: 3rem;
    display: flex;
    margin-left: 40rem;
    margin-bottom: 3rem;
}

.logo3 {

    height: 2rem;
    padding: 1rem;
}

.block7 {
    padding: 2rem;
    text-align: center;
}


.block8 {
    display: flex;
    text-align: center;
    margin-right: 4rem;
    margin-left: 4rem;

}

#logo2 {
    margin-top: 2rem;
    width: 50px;
    height: 50px;
    padding: 2rem;
}

.foot {
    margin-top: 4rem;
    padding-left: 3rem;
    text-align: justify;

}



.icon_sociaux {
    margin-top: 6rem;
    display: flex;
    margin-left: 55rem;

}

.id {

    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding: 1rem;
}

.id:before {
    background-color: aqua;
}


.clic:hover {
    color: aqua;
    cursor: pointer;
}

a {
    color: rgba(63, 60, 60, 0.9);
    text-decoration: none;
}

footer {
    font-weight: 90;
    background-color: rgba(0, 255, 255, 0.1);

}

@media scren and (max-width:1440px) {
   body{
    font-size: 90px;
   }

}