h1 {
    font-weight: 100;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.header {
    padding-top: 60px;
    background-image: url(images/bg-header-desktop.png);
    text-align: center;
}

#logo {
    width: 80px;
}